---
---

$primary: #4f5400;
$font-family-serif: Georgia, "Times New Roman", serif;
$font-family-sans-serif: "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "bootstrap/bootstrap";

/* stylelint-disable selector-list-comma-newline-after */

#main {
  min-height: 60vh;
}

button {
  cursor: pointer;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.blog-header-logo {
  background: -webkit-gradient(linear,left top,right top,from(#3f40a7),to(#b53093));
  background: linear-gradient(to right,#3f40a7,#b53093);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid $gray-200;
}

.blog-header-logo {
  font-family: $font-family-serif;
  font-size: 1.5rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/*
 * Footer
 */
.blog-footer {
  font-size: 0.9rem;
  padding: 2.5rem 0.5rem;
  color: $gray-600;
  background-color: $gray-100;
  border-top: .05rem solid $gray-200;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
