<!doctype html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  {% include meta.html %}
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/theme.min.css' | prepend: site.baseurl }}"/>
  <link rel="stylesheet" type="text/css" href="{{ '/style.css' | prepend: site.baseurl }}"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
        href="{{ '/feed.xml' | prepend: site.baseurl }}"/>
</head>
<body>

<!-- NAVBAR
================================================== -->
<header class="container">
  <nav class="navbar navbar-dark">
    <div class="container-fluid">
      <!-- Brand -->
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="./assets/logo.svg" height="50" class="navbar-brand-img" alt="{{ site.name }}">
      </a>
    </div>
  </nav>
</header>

<!-- MAIN CONTENT
================================================== -->
<div id="main" role="main">
  {{ content }}
</div>

<!-- BORDER
    ================================================== -->
<div class="bg-black">
  <div class="container border-top border-gray-900-50"></div>
</div>

<!-- FOOTER
================================================== -->
<footer class="py-8 py-md-11 bg-black">
  <div class="container text-center">
    <small class="text-gray-700">{{ site.name }} &copy; 2021</small>
  </div>
</footer>

{% include analytics.html %}
</body>
</html>
